/* Custom Web Fonts */
@import url("https://use.typekit.net/oxu4veu.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #191a1d;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  line-height: 1.35;
  color: #ADADAD;
}

@media (min-width: 64em) {
  body {
    font-size: 1.2em;
  }
}

@media (min-width: 85.375em) {
  body {
    font-size: 1.3em;
  }
}

@media (min-width: 120em) {
  body {
    font-size: 1.4em;
  }
}

@media (min-width: 160em) {
  body {
    font-size: 1.6em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  color: #E0E0E0;
}

#header {
  width: 100%;
  background-color: #191a1d;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
}

@media (min-width: 48em) {
  .nav-container {
    margin: 0 6%;
  }
}

@media (min-width: 64em) {
  .nav-container {
    margin: 0 7%;
  }
}

@media (min-width: 85.375em) {
  .nav-container {
    margin: 0 8%;
  }
}

@media (min-width: 120em) {
  .nav-container {
    margin: 0 14%;
  }
}

@media (min-width: 160em) {
  .nav-container {
    margin: 0 16%;
  }
}

.logo {
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -4px;
  font-size: 3em;
  color: #E0E0E0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.logo span {
  color: #00CC9C;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6em;
  width: 100%;
}

#check {
  visibility: hidden;
}

#check:checked ~ ul {
  left: 0;
}

.checkbtn {
  font-size: 1.75em;
  color: #00CC9C;
  float: right;
  cursor: pointer;
  display: block;
  position: fixed;
  z-index: 5;
}

@media (min-width: 48em) {
  .checkbtn {
    display: none;
  }
}

.fa-bars {
  padding: 11px 12.5px;
  margin: 1px;
  background-color: rgba(25, 26, 29, 0.9);
  border-radius: 50px;
  position: relative;
  z-index: 9;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0 0 20vh 0;
  list-style: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #191a1d;
  top: 0;
  left: -100%;
  text-align: center;
  z-index: 10;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media (min-width: 48em) {
  .nav-links {
    display: inline-block;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    z-index: 0;
  }
}

.nav-links li {
  display: block;
  margin: 0;
}

@media (min-width: 48em) {
  .nav-links li {
    display: inline-block;
    margin-left: 3em;
  }
}

.nav-links li a {
  font-size: 1.5em;
  text-decoration: none;
  display: inline-block;
  color: #ADADAD;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media (min-width: 48em) {
  .nav-links li a {
    font-size: 1.1em;
  }
}

.nav-links li a:hover {
  color: #00CC9C;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Project Hero */
#hero {
  min-height: 100vh;
}

.container {
  margin: 0 5%;
}

@media (min-width: 48em) {
  .container {
    margin: 0 6%;
  }
}

@media (min-width: 64em) {
  .container {
    margin: 0 15%;
  }
}

@media (min-width: 85.375em) {
  .container {
    margin: 0 20%;
  }
}

@media (min-width: 120em) {
  .container {
    margin: 0 25%;
  }
}

@media (min-width: 160em) {
  .container {
    margin: 0 27.5%;
  }
}

h1 {
  color: #E0E0E0;
  margin: 0 0 2.5px;
  font-size: 3.5em;
}

.text {
  font-size: 1.3em;
  margin: 0 0 25px;
}

@media (min-width: 48em) {
  .text {
    font-size: 1.1em;
  }
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

@media (min-width: 25em) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.button {
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: #00CC9C;
  border: 1px solid #00CC9C;
  border-radius: 5px;
  color: #191a1d;
  font-size: 1.3em;
  padding: 0.5em;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media (min-width: 25em) {
  .button {
    width: auto;
  }
}

@media (min-width: 48em) {
  .button {
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
}

.button:hover {
  color: #00CC9C;
  background-color: transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.alt-button {
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  color: #191a1d;
  font-size: 1.3em;
  padding: 0.5em;
  margin-top: 10px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media (min-width: 25em) {
  .alt-button {
    width: auto;
    margin-top: 0;
  }
}

@media (min-width: 48em) {
  .alt-button {
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
}

.alt-button:hover {
  color: #E0E0E0;
  background-color: transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.fa-external-link-alt {
  background-color: transparent;
  margin-right: 0.5em;
}

.fa-code {
  background-color: transparent;
  margin-right: 0.5em;
}

.project-img {
  border: 1px solid #E0E0E0;
  margin-bottom: 10px;
}

h2 {
  color: #E0E0E0;
  margin: 0 0 15px;
  font-size: 2em;
}

.horizontal-line {
  border-top: 1px solid #ADADAD;
  width: 50%;
  margin: 0.5em 0 1em;
}

.language-list {
  font-size: 1.3em;
  font-weight: lighter;
  padding-left: 27.5px;
}

@media (min-width: 48em) {
  .language-list {
    font-size: 1.1em;
  }
}

.xl-horizontal-line {
  border-bottom: 1px solid #ADADAD;
  margin-top: 2em;
  width: 100%;
}

footer {
  background-color: #191a1d;
  padding: 0.5em 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 75px;
  padding: 1.5em 0;
  margin: 0 5%;
}

@media (min-width: 48em) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.5em 0;
    margin: 0 6%;
  }
}

@media (min-width: 64em) {
  .footer-container {
    margin: 0 15%;
  }
}

@media (min-width: 85.375em) {
  .footer-container {
    margin: 0 20%;
  }
}

@media (min-width: 120em) {
  .footer-container {
    margin: 0 25%;
  }
}

@media (min-width: 160em) {
  .footer-container {
    margin: 0 27.5%;
  }
}

.footer-links {
  list-style: none;
}

.footer-links ul {
  padding: 0 !important;
  margin: 0 0 3em;
}

@media (min-width: 48em) {
  .footer-links ul {
    margin: 0;
  }
}

.footer-links ul li {
  display: inline-block;
}

.footer-links ul li a {
  text-decoration: none;
  margin-right: 1.5em;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.social-link {
  font-size: 25px;
  padding: 3px;
  color: #E0E0E0;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

@media (min-width: 85.375em) {
  .social-link {
    font-size: 30px;
  }
}

@media (min-width: 160em) {
  .social-link {
    font-size: 45px;
  }
}

.footer-links a:hover .social-link {
  color: #00CC9C;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.copyright {
  font-size: 1.3em;
  color: #ADADAD;
  margin: 5px 0 0 0;
}

@media (min-width: 48em) {
  .copyright {
    font-size: 1.1em;
  }
}

.copyright a {
  display: inline-block;
  color: #ADADAD;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.copyright a:hover {
  color: #00CC9C;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=project.css.map */